<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Choice.html</title>
</head>
<body>
	가장 좋아 하는 것
		<br><hr><br>
		<!--
			http://ip:port/step01_basic/print 
		 -->
		<form action="print" method="POST">
		
			<!-- value 속성 : 서버에 전송되는 데이터 값 -->
			<input type="checkbox" name="like" value="고양이">샹크스<br>
			<input type="checkbox" name="like" value="스낵">피콕 팝콘<br>
			<input type="checkbox" name="like" value="취미">재즈 노래 듣기<br>
			<input type="checkbox" name="like" value="좋아">오페라<br>
			
			<input type="submit" value="전송">
		</form>
</body>
</html>