<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>step06_miniProject_t</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>GuestBookServlet</servlet-name>
    <servlet-class>guestbook.controller.GuestBookServlet</servlet-class>
    <init-param>
    <param-name>id</param-name>
    <param-value>busan</param-value>
    </init-param>
    <init-param>
    <param-name>charset</param-name>
    <param-value>UTF-8</param-value>
    </init-param>
    <!-- 1순위로 실행되야함 -->
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <context-param>
  <param-name>contextConfig</param-name>
  <param-value>/META-INF/context.xml</param-value>
  </context-param>
  
  <servlet-mapping>
    <servlet-name>GuestBookServlet</servlet-name>
    <url-pattern>/guestbook.do</url-pattern>
  </servlet-mapping>
  
  <filter>
  <filter-name>Encoding</filter-name>
  <filter-class>util.EncodingFilter</filter-class>
  <init-param>
  <param-name>Charset</param-name>
  <param-value>UTF-8</param-value>
  </init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>Encoding</filter-name>
  	<url-pattern>/guestbook.do</url-pattern>
  </filter-mapping>
  
  
  <listener>
  <listener-class>util.RequestListener</listener-class>
  </listener>
  
  <error-page>
  <error-code>404</error-code>
  <location>/error/error404.jsp</location>
  </error-page>
  
  
  
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/mysql</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>